<div class="grid grid-cols-{{ MEMORY_GAME_COLUMNS }} gap-2">
  <div *ngFor="let card of cards$ | async" class="flip-card">
    <button
      class="w-full h-full bg-gray-200 rounded-md border-none text-black flip-card__inner"
      [class.flip-card__inner--flipped]="card.isFaceUp"
      (click)="flipCard(card)"
      [class.hidden]="card.isMatchedWithAnotherCard"
    >
      <div
        class="flip-card__back w-full h-full flex items-center justify-center font-bold text-2xl"
      >
        <span>{{ card.value }}</span>
      </div>
    </button>
  </div>
</div>
